#main-container {
  height: 500px;
}


#status-container {
  height: 70px;
}

#text-container {
  height: 430px;
}

#sidebar-container {
  height: 500px;
}

.main-input {
  height: 400px;
}

#text-area {
  height: 400px;
}