.navbar-default .navbar-brand {
  font-family: 'Lobster', cursive;
  font-size: 2.5em;
  color: rgb(2,93,140);
}

.navbar-default .navbar-brand:hover {
  font-family: 'Lobster', cursive;
  font-size: 2.5em;
  color: rgb(2,93,140);
}


.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: rgb(2,93,140);

}

#main-container {
  height: 500px;
}

body {
  font-family: 'Cabin', sans-serif;
}

#status-container {
  /*height: 250px;*/
}

#text-container {
  height: 430px;
}

.set-timer-components {
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 35px;
  margin-bottom: 0px;
}

input.set-timer-components {
  margin-top: 14px;
  width: 80px;
  height: 50px;
  font-size: 3em;
  /*visibility: hidden;*/
}

.timer-text {
  font-size: 3em;
  margin-top: 20px;
}
/* used for hiding an element without removing it from the DOM */
.visible {
  visibility: visible;
}
/* used for showing an element without adding it to the DOM */
.invisible {
  visibility: hidden;
}
/* refers to the users sidebar */
.user-circle-box {
  height: 60px;
}

.topics-button {
  height: 50px;
}

.topics-button:hover {
  background: #666;
  color: #fff;
}

.choose-topic {
  margin-top: 10px;
  padding: 10px;
  height: 25px;
}

.topics-box {
  font-size: 1.5em;
  border: 1px solid #000;
  margin-top: 10px;
  cursor: pointer;
}
.topics-box:hover {
  color: #fff;
  background: #000;
}

#sidebar-container {
  /*height: 500px;*/
  padding-right: 20px;
  height: 100vh;
}

.profile-username {
  font-size: 20px;
}

.stats-message {
  outline: 1px solid #d3d3d3;
  padding: 2px;
}

.random-prompt-section .btn {
  margin: 5px;
}

.random-prompt-section .btn-random {
  margin-left: 13px;
}

.prompt-text .random-prompt-box{
  width: 100%;
  margin-left: 13px;
}

.save-spinner {
  width: 25%;
}

.results_buttons {
  margin-left: 306px;
}

 .btn-results {
  margin: 5px;
  margin-left: 2.5px;
  margin-right: 2.5px;
 }

 .btn-upper {
  width: 200px;
  height: 50px;
 }

 .btn-lower {
  width: 96px
 }

.go-button-box {
  margin-top: 30px;
  padding-right: 30px;
}
.users-table {
  margin: 10px;
  border-collapse: collapse;
}

.user-tbody {
   margin: 10px;
}
.main-input {
  height: 400px;
}
.user-text-span {
  font-size: 1.2em;
}
.my-user-text-span {
  font-size: 1.5em;
}


#text-area {
  height: 70vh;
  font-size: 2em;
}

#debug-list {
  z-index: 999;
}

.results-info {
  font-size: 5em;
  font-style: bold;
  color: rgb(2,93,140);
}

.single-result {
  float: left;
  width: 300px;
  height: 150px;
  padding: 5px;
}

.results-data {
  width: 1000px;
  height: 160px;
  padding: 20px;
}

.results-title {
  margin: 20px;
  font-style: bold;
}

.raw-text {
  margin: 20px;
}

#graph{
  margin: 20px;
}
.user-text-box {
  padding-left: 10px;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.y.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: rgb(2,93,140);
  stroke-width: 1.5px;
}

.error {
  color: #f99;
}

.summary-header {
  font-size: 16px;
  color: gray;
  font-style: oblique;
}

.session-summary {
  margin-bottom: 8px;
  background-color: rgba(2, 93, 140, 0.28);
  border-radius: 6px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}

.session-summary:hover {
  background-color: rgba(2, 93, 140, 0.38);
}

.text-name {
  font-weight: bold;
  font-size: medium;
  color: rgb(45, 45, 195);
  font-style: italic;
}

.text-head {
  color: rgb(115, 112, 112);
  margin-top: 2px;
  font-family:serif;
  font-size: medium;
}

.username-sidebar {
  font-size: 24px;
  font-weight: bold;
  color: rgb(101, 20, 157);
}

.session-count-wrapper {
  margin-top:10px;
  font-size:medium;
}

.session-count {
  font-size: 30px;
  color: blue;
}

.stats-button-wrapper {
  margin-top:10px;
}

#text-area.text-view-area {
  height:auto;
  margin-top: 40px;
  background-color: rgba(247, 247, 172, 0.23);
  border-radius: 6px;
  padding: 10px 10px 10px 30px;
  border: 2px solid gray;
}

.save-comment-button {
  margin-right: 14px;
  margin-top: 8px;
}

#edit-area {
  height: 150px;
  font-size: 16px;
  margin-top: 40px;
}

.save-edits-button {
  margin-right: 29px;
  margin-top: 8px;
}

.topic-subtitle {
  font-style: italic;
  color: gray;
}

/* very similar to default bootstrap button */
.btn-custom-neutral {
  background-color: rgb(2, 93, 140);
  color: white;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-custom-neutral:hover {
  background-color: rgba(2, 93, 140, .75);
  color: white;
};

.btn-custom-neutral:active {
  color: white;
}

.comment-box-title {
  margin-top: 40px;
}

.comment-wrapper {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: rgba(128, 128, 128, 0.16);
  border-radius: 4px;
  font-size: 14px;
  padding-top: 8px;
  padding-bottom: 4px;
}


.comment-username {
  font-size: 18px;
  color: rgb(101, 20, 157);
}

.comment-date {
  font-style: italic;
  color: gray;
}

