#main-container {
  height: 500px;
}


#status-container {
  height: 250px;
}

#text-container {
  height: 430px;
}

#sidebar-container {
  height: 500px;
  background-color: rgb(173,216,199);
}

.main-input {
  height: 400px;
}

#text-area {
  height: 400px;
  font-size: 2em;
}

#debug-list {
  z-index: 999;
}

#graph{
  margin: 20px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.y.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

