<div id="login-container" class="container" ng-controller="LoginController">
  <form name="loginForm" ng-submit="processLogin()">
    <h4> Hello I am the login page</h4>
    <h4>Username</h4>
      <input type="text" ng-model="user.username" name="usernameInput" required/>
      <ng-messages for="loginForm.usernameInput.$error" ng-if="loginForm.usernameInput.$dirty">
        <ng-message when="required" class="error">
          Enter a username
        </ng-message>
      </ng-messages>
    <h4>Password</h4>
      <input type="text" ng-model="user.password" name="passwordInput" required/>
      <ng-messages for="loginForm.passwordInput.$error" ng-if="loginForm.passwordInput.$dirty">
        <ng-message when="required" class="error">
          Enter a password
        </ng-message>
      </ng-messages>
    <button>Login</button>
  </form>
  <h3 class="error"> {{ message }} </h2>
  <a ui-sref="signup">Don't have an account? <strong>Signup</strong> ...</a>
</div>

